.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkBlue-300);
    border-radius: 24px;
    color: var(--branco);
    cursor: pointer;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1.1875rem;
    padding: 1.5rem;
    width: 100%;
}

.botao--alternativo {
    background: none;
    border: 1px solid var(--darkBlue-300);
    border-radius: 24px;
    color: var(--darkBlue-300);
    transition: ease-in-out 0.3s;
}

.botao--alternativo:hover {
    background: var(--ligthBlue-300);
}

.botao__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1.1875rem;
    margin: 1rem 0;
    padding: 1.5rem;
    transition: ease-in-out 0.3s;
    width: 80%;
}

.botao__copy:hover {
    background: var(--darkBlue-300);
    color: var(--branco);
}

@media screen and (min-width: 720px) {
    .botao {
        padding: 2rem;
        width: 50%;
    }

    .botao--alternativo:hover {
        background: none;
        color: var(--darkBlue-300);
    }
}

@media screen and (min-width: 1240px) {
    .botao--alternativo {
        background: var(--ligthBlue-300);
    }
}

