.cabecalho {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100vw;
    height: 10vh;
}

.cabelho__image-logo {
    padding: .5rem;
    width: 42px;
    height: 42px;
}

@media screen and (min-width: 1240px) {

    .cabelho__image-logo {
        padding: 1rem .5rem;
    }
}