.cabecalho {
    display: flex;
    align-items: center;
    justify-content: flex-start;


    margin: 2rem 0;
    height: 10%;
}

.cabelho__image-logo {
    padding: .5rem;
    width: 42px;
    height: 42px;
}

@media screen and (min-width: 1024px) {
    .cabelho__image-logo {
        padding: 1rem;
    }
}