.criptografia {
    width: 90%;
    max-width: 343px;
    height: 50%;
    max-height: 624px;

}

.criptografia__campo-de-texto {
    background: none;
    color: var(--darkBlue-300);
    font-size: 2rem;
    font-weight: inherit;
    outline: none;

    width: 90%;
    height: 50%;
}

.criptografia__campo-de-texto::placeholder {
    color: var(--darkBlue-300);
}

.criptografia__aviso {
    color: var(--gray-500-escuro);
    font-weight: inherit;
    font-size: .75rem;
    padding: 1rem;
    
}

.aviso-icon {
    background: url(../../img/vector_aviso.svg) left / cover no-repeat;
    background-size: .75rem;
}

.criptografia__botoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    height: 30%;
    max-height: 158px;
}

@media screen and (min-width: 720px) {
    .criptografia {
        min-width: 688px;
        height: 50%;
    }

    .criptografia__campo-de-texto {
        width: 100%;
        height: 70%;
    }

    .criptografia__botoes  {
        flex-direction: row;
        height: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .criptografia {
        width: 40%;
        min-width: 400px;
        min-height: 744px;
    }
    
    .criptografia__campo-de-texto {
        width: 90%;
        height: 70%;
    }

    .criptografia__botoes  {
        height: auto;
        width: 100%;
        min-width: 400px;
    }

}
