.criptografia {
    width: auto;
    max-width: 317px;
    height: auto;
    max-height: 186px;

    margin-bottom: 2rem;
}

.criptografia__campo-de-texto {
    background: none;
    color: var(--darkBlue-300);
    font-size: 2rem;
    
    width: 100%;
    height: 100%;
}
