.criptografia {
    width: auto;
    max-width: 317px;
    height: auto;
    max-height: 186px;

    margin-bottom: 2rem;
}

.criptografia__campo-de-texto {
    background: none;
    color: var(--darkBlue-300);
    font-size: 2rem;
    
    width: 100%;
    height: 100%;
}

.criptografia__campo-de-texto::placeholder {
    font-weight: inherit;
    font-size: 2rem;
    color: var(--darkBlue-300);
}

.criptografia__aviso {
    color: var(--gray-500-escuro);
    font-weight: inherit;
    font-size: .75rem;
    padding: .5rem;
}

.aviso-icon {
    background-repeat: no-repeat;
    background-size: .75rem;
    background-image: url(../../img/vector_aviso.svg);
}

.criptografia__botoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: auto;
    max-width: 313px;
    height: auto;
    max-height: 158px;
}
