.resultado {
    background: var(--branco);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    color: var(--gray-500-escuro);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    min-width: 300px;
    height: 40vh;

    margin: 12rem 0 0 0;
}

.resultado__campo-de-texto {
    background: none;
    font-weight: var(--alto);
    font-size: 1.5rem;
    outline: none;
    text-align: center;
    width: 80%;
    height: 30vh;
}

.resultado__campo-de-texto::placeholder {
    color: var(--gray-400);
    font-weight: inherit;
    font-size: inherit;
}

@media screen and (min-width: 720px) {
    .resultado {
        width: auto;
        min-width: 688px;
        height: 30vh;
        margin: 8rem;
    }

    .resultado__campo-de-texto {
        width: 90%;
        height: 80%;
    }
}


@media screen and (min-width: 1240px) {
    .resultado {
        width: auto;
        min-width: 30vw;
        height: 90vh;
        
        margin: 0;
    }

    .resultado__campo-de-texto {
        margin: 0;
    }

    .campo-de-texto--imagem {
        background: url(../../img/imagem_de_fundo-desktop.svg) center / cover no-repeat;
        background-size: 20rem;
    }
}
