.rodape {
    height: 10%;
    padding: 1rem 0;
    margin: 2rem 0;
}

.rodape__texto {
    color: var(--gray-400);
    font-size: .75rem;
    font-weight: var(--fina);
    text-align: center;
}

.rodape__texto--alternativo {
    color: var(--gray-500-escuro);
    font-size: 1rem;
    font-weight: var(--alto);
}

.rodape__lista{
    display: flex;
}

