@import url(./abstract/_reset.css);
@import url(./abstract/_variaveis.css);
/* Sessões da Pagina - Import's */
@import url(./components/cabecalho.css);
@import url(./components/botao.css);
@import url(./components/criptografia.css);
@import url(./components/resultado.css);
@import url(./components/rodape.css);

body {
    background: var(--ligthBlue-100);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: var(--baixo);

    width: 100vw;
    height: 130vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem 0;
}

@media screen and (min-width: 720px) {
    body {
        height: 115vh;
    }

    .container {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
}

