@import url(./abstract/_reset.css);
@import url(./abstract/_variaveis.css);
/* Sessões da Pagina - Import's */
@import url(./components/cabecalho.css);
@import url(./components/botao.css);
@import url(./components/criptografia.css);
@import url(./components/resultado.css);

body {
    background: var(--ligthBlue-100);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: var(--medio);

    margin-left: 1rem;
    margin-right: 1rem;

    height: 933px;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

    width: 95%;
    height: 100%;
}

